In [5]:
s =set(range(10))

In [13]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
a, b = {'a', 'b', 'c', 'd'}, {'c', 'd','e'}

In [21]:
a

{'a', 'b', 'c', 'd'}

In [22]:
b

{'c', 'd', 'e'}

In [23]:
a & b

{'c', 'd'}

In [24]:
set_a = {31, 37, 39, 41, 47, 58, 60, 62, 70, 75,
         76, 77, 78, 79, 80, 81, 85, 86, 88, 90, 93, 96, 98, 99}

set_b = {0, 1, 8, 16, 17, 18, 22, 24, 29, 31,
         33, 34, 36, 42, 46, 47, 51, 53, 62, 64, 65, 66, 67}

In [25]:
set_a & set_b

{31, 47, 62}

In [26]:
a | b

{'a', 'b', 'c', 'd', 'e'}

In [27]:
a - b

{'a', 'b'}

In [28]:
b - a

{'e'}

In [29]:
a ^ b

{'a', 'b', 'e'}

In [31]:
a.union(b)

{'a', 'b', 'c', 'd', 'e'}

### Сколько обойдется данная покупка? Хотим купим все товары в указанном количестве

In [1]:
supermarket = {
    "milk": {"quantity": 20, "price": 1.19},
    "biscuits": {"quantity": 32, "price": 1.45},
    "butter": {"quantity": 20, "price": 2.29},
    "cheese": {"quantity": 15, "price": 1.90},
    "bread": {"quantity": 15, "price": 2.59},
    "cookies": {"quantity": 20, "price": 4.99},
    "yogurt": {"quantity": 18, "price": 3.65},
    "apples": {"quantity": 35, "price": 3.15},
    "oranges": {"quantity": 40, "price": 0.99},
    "bananas": {"quantity": 23, "price": 1.29}
}
print('-' * 41)
sum_p = 0
for p, q in supermarket.items():
    print(f"{p:<15}{q['quantity']} шт. * {q['price']:>5.2f}₽{'=':>5}{q['quantity'] * q['price']:.2f}₽")
    sum_p += q['quantity'] * q['price']

print('-' * 41)
print(f"ИТОГ: {'=':>28}{sum_p:.2f}₽")
print(f'{"СПАСИБО ЗА ПОКУПКУ!":^41}')

-----------------------------------------
milk           20 шт. *  1.19₽    =23.80₽
biscuits       32 шт. *  1.45₽    =46.40₽
butter         20 шт. *  2.29₽    =45.80₽
cheese         15 шт. *  1.90₽    =28.50₽
bread          15 шт. *  2.59₽    =38.85₽
cookies        20 шт. *  4.99₽    =99.80₽
yogurt         18 шт. *  3.65₽    =65.70₽
apples         35 шт. *  3.15₽    =110.25₽
oranges        40 шт. *  0.99₽    =39.60₽
bananas        23 шт. *  1.29₽    =29.67₽
-----------------------------------------
ИТОГ:                            =528.37₽
           СПАСИБО ЗА ПОКУПКУ!

## 6.11 Операции с множествами
### Перед вами располагается список words, состоящий из 55 слов, которые могут повторяться. Ваша задача вывести на экран количество уникальных слов, длина которых больше 6. Под уникальностью здесь подразумевается то, что в случае возникновения дублирующих слов, в подсчете вы не должны учитывать дубли.

In [40]:
words = ['mention', 'soup', 'pneumonia', 'tradition', 'concert', 'tease', 'generation',
         'winter', 'national', 'jacket', 'winter', 'wrestle', 'proposal', 'error', 
         'pneumonia', 'concert', 'value', 'value', 'disclose', 'glasses', 'tank',
         'national', 'soup', 'feel', 'few', 'concert', 'wrestle', 'proposal', 'soup',
         'sail', 'brown', 'service', 'proposal', 'winter', 'jacket', 'mention', 'tradition',
         'value', 'feel', 'bear', 'few', 'value', 'winter', 'proposal', 'government', 
         'control', 'value', 'few', 'generation', 'service', 'national',
         'tradition', 'government', 'mention', 'proposal']

# print(len({i for i in words if len(i) > 6}))
print(len([i for i in set(words) if len(i) > 6]))

['mention',
 'pneumonia',
 'wrestle',
 'national',
 'control',
 'service',
 'concert',
 'generation',
 'proposal',
 'disclose',
 'government',
 'tradition',
 'glasses']

### Вашей программе будут поступать на вход N списков, содержащих целые числа. Для каждого введенного списка определите, сколько в нем встречается различных чисел.

<b>Входные данные</b><br>
Сперва поступает натуральное число N - количество списков
В следующих N строк вводятся значения каждого списка, разделенные через пробел

<b>Выходные данные</b><br>
Вывести на отдельной строке количество различных чисел каждого введенного списка в том же порядке, в котором вводились списки

<pre>
Sample Input 1:
2
1 2 3 2 1
2 2 2 2 2 2

Sample Output 1:
3
1
</pre>

In [62]:
set('ъъъ эээ ююю яяя')

{' ', 'ъ', 'э', 'ю', 'я'}

In [63]:
set('aaabcccc    11222')

{' ', '1', '2', 'a', 'b', 'c'}

In [64]:
myset1 = set([1, 2, 3, 4, 5])
myset2 = set('12345')
print(myset1 == myset2)

False

In [68]:
fruits = {'apple', 'banana', 'cherry', 'avocado', 'pineapple', 'apricot', 'banana', 'avocado', 'grapefruit'}
print(*sorted(fruits, reverse=True))

pineapple grapefruit cherry banana avocado apricot apple

In [69]:
a=input()
print(('NO','YES')[len(a)==len(set(a))])

10000000
NO

In [70]:
print(['NO','YES'][len(set(n:= input())) == len(n)])

34546567673412332
NO

In [71]:
s = input().split()
print('YES' if len(set(''.join(s))) == len(s[0]) else 'NO')

шарада баллада услада
NO

In [74]:
myset = set()
for i in range(10):
    if i % 2 == 0:
        myset.add('even')
    else:
        myset.add('odd')
print(len(myset))

2

In [77]:
words = [word.lower().strip('.,;:-?!') for word in input().split()]
#print(len(set(words)))
print(set(words))

Snowflakes, snowflakes falling down. Snowflakes, covering up the ground. Making a blanket, soft and white. Making a blanket in the night.
{'snowflakes', 'blanket', 'covering', 'down', 'white', 'up', 'ground', 'falling', 'a', 'making', 'the', 'and', 'in', 'soft', 'night'}

In [86]:
listASCII = ''.join([chr(i) for i in range(33, 127) if not chr(i).isalnum()])

In [87]:
listASCII

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
import sys
print("User Current Version:-", sys.version)

User Current Version:- 3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [6]:
set1 = {'Yellow', 'Orange', 'Black'}
set2 = {'Orange', 'Blue', 'Pink'}

set1.difference_update(set2)

In [7]:
set1

{'Black', 'Yellow'}

In [8]:
myset = {'Yellow', 'Orange', 'Black'}

myset.update(['Blue', 'Green', 'Red', 'Orange'])
print(myset)

{'Black', 'Blue', 'Red', 'Green', 'Yellow', 'Orange'}

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}

print(set1.issubset(set2))
print(set2.issuperset(set1))

True
True

In [10]:
set1 = {'p'}
set2 = {'a', 't', 'f'}

print(set1 - set2)

{'p'}

### Контрольная работа по множествам

 
### 1. В таблице приведены запросы и количество страниц, которые нашел поисковый сервер Google по этим запросам в сегменте Интернета:
Запрос 	Количество страниц (тыс.)
математика & ЕГЭ 	315
математика & параметры 	225
математика & параметры & ЕГЭ 	110

Какое количество страниц (в тысячах) будет найдено по запросу (параметры | ЕГЭ) & математика?

<b>Примечание</b> В языке запросов поискового сервера для обозначения логической операции «ИЛИ» (объединение) используется символ «|», а для обозначения логической операции «И» (пересечение) — символ «&».

In [14]:
# (математика & ЕГЭ) +  (математика & параметры) -  (математика & параметры & ЕГЭ)

315 + 225 - 110

430

### 2. Учитель проверяет домашнее задание в классе и получил следующие ответы: из nn школьников у mm домашнее задание съела собака, у kk отключили свет, а pp учеников постигли оба несчастья. Напишите программу, которая определяет сколько человек выполнило домашнее задание.

#### Формат входных данных
На вход программе подаются числа n,m,k,pn,m,k,p, каждое на отдельной строке.

#### Формат выходных данных
Программа должна вывести количество учеников, сделавших домашнее задание.

In [16]:
n, m, k, p = (int(input()) for i in range(4))
# n - всего школьников
# m - съела собака
# k - отключили свет
# p - съела собака и отключили свет (m & k)
print(f'Сделали дом. задание: {n - m - k + p}')

35
10
20
3
Сделали дом. задание: 8

### 3. На спутнике «Восход» установлен прибор для измерения солнечной активности. Каждую минуту он передаёт в обсерваторию по каналу связи положительное целое число — количество энергии солнечного излучения. Для правильного анализа результатов нет необходимости держать повторяющиеся данные. Напишите программу, которая выводит максимальное количество показаний спутника, при удалении которых результат будет правильно проанализирован.

#### Формат входных данных
На вход программе подаётся одна строка, содержащая числа – показания спутника «Восход». Числа указываются через пробел и не содержат ведущих нулей.
#### Формат выходных данных
Программа должна вывести максимальное количество показаний, после удаления которых анализ результатов будет произведен верно.

In [17]:
n = input().split()
print (len(n) - len(set(n)))

1 2 3 4 5 6 7 8 9 1 2 3
3

### 4. Тимур и Руслан играют в игру города. Они очень любят эту игру и знают много городов, особенно Тимур, однако к концу игры ввиду своего возраста забывают, какие города уже называли.

Напишите программу, считывающую информацию об игре и сообщающую ребятам, что очередной город назван повторно.

#### Формат входных данных
На вход программе в первой строке подаётся натуральное число nn – количество названных городов, в последующих nn строках вводятся названные города и ещё одна строка с новым, только что названым городом.

#### Формат выходных данных
Программа должна вывести OK, если этот город ещё не вспоминали, и REPEAT, если город уже был назван.

In [18]:
cities = {input() for i in range(int(input()))}
print(['OK','REPEAT'][input() in cities])

3
Каир
Рим
Москва
Агра
OK

### 5. Руслан получил в конце учебного года список литературы на лето. Теперь ему надо выяснить, какие книги из этого списка у него есть. У Руслана на компьютере в текстовом файле записаны все книги из его домашней библиотеки в случайном порядке.

Напишите программу, определяющую для каждой книги из списка на прочтение, есть она у Руслана или нет.

#### Формат входных данных
На вход программе в первой строке подается натуральное число mm — количество книг в домашней библиотеке Руслана. Во второй строке записано натуральное число nn —  количество книг в списке на лето. Далее идут mm строк с названиями книг из домашней библиотеки и nn строк названий из списка на лето.

#### Формат выходных данных
Программа должна вывести nn строк, в каждой из которых написано слово YES, если книга найдена в библиотеке, и NO, если нет.

In [21]:
m,n = int(input()), int(input())

# книги в дом. библиотеке
m_s = {input() for _ in range(m)} 

# проверка списка книг на лето
print(*['YES' if input() in m_s else 'NO' for _ in range(n)], sep='\n')

4
4
Хоббит
Алиса в стране чудес
Том Сойер
Остров сокровищ
Буратино
Хоббит
Остров сокровищ
Война и мир
NO
YES
YES
NO

### 6. Как известно, математики странные люди. Не составляет исключения и Тимур — автор данного курса. Каждый день Тимур решает ровно две сложные математические задачи. Решая первую задачу, он записывает на первом листочке все числа, которые в ней встречаются. Далее он делает паузу и берется за вторую задачу. Затем записывает на втором листочке все числа, которые в ней встречаются. После этого он берет еще один листок и выписывает на него все совпадающие числа из первых двух листочков. Если такие числа есть, день удался, если общих чисел нет, Тимур считает день неудачным.

Напишите программу, которая находит общие числа двух листочков или сообщает, что день не удался 😏

#### Формат входных данных
На вход программе подаются две строки с числами: в первой строке числа с первого листочка, во второй со второго.
#### Формат выходных данных
Программа должна вывести числа, встретившиеся на обоих листках в отсортированном по убыванию порядке, либо словосочетание BAD DAY, если таких чисел нет.

In [22]:
s1 = {int(i) for i in input().split()}
s2 = {int(i) for i in input().split()}

s3 = s1 & s2
print(*sorted(s3, reverse = True) if len(s3) else ['BAD DAY'])

6 56 7 34 14
675 45 246 2 1
BAD DAY

### Каждый ученик, обучающийся в онлайн-школе BEEGEEK изучает либо математику, либо информатику, либо оба этих предмета. У руководителя школы есть списки учеников, изучающих каждый предмет. Случайно списки всех учеников перемешались.

Напишите программу, которая позволит руководителю выяснить, сколько учеников изучает только один предмет.

#### Формат входных данных
На вход программе в первых двух строках подаются числа mm и nn – количества учеников, изучающих математику и информатику соответственно. Далее идут m+nm+n строк — фамилии учеников, изучающих математику и информатику, в произвольном порядке.

#### Формат выходных данных
Программа должна вывести количество учеников, которые изучают только один предмет. Если таких учеников не окажется, то необходимо вывести NO.

#### Примечание. 
Гарантируется, что среди учеников школы BEEGEEK нет однофамильцев.

In [ ]:
n = int(input()) + int(input())
s = {input() for _ in range(n)}
print(2 * len(s) - n or 'NO')

### Руководителю онлайн-школы BEEGEEK захотелось узнать, кто из его учеников присутствовал на всех уроках с начала учебного года. Для каждого урока есть листок со списком присутствовавших учеников.

Напишите программу, определяющую фамилии учеников, которые присутствовали на всех уроках.

#### Формат входных данных
На вход программе в первой строке дается число n – количество уроков, проведенных с начала учебного года. Далее идёт m блоков строк, описывающих листки с фамилиями. На первой строке каждого блока указано количество фамилий, затем идёт строчек с фамилиями тех, кто был на i-ом уроке.

#### Формат выходных данных
Программа должна вывести фамилии учеников, которые были на всех уроках, отсортированных в лексикографическом порядке. Каждая фамилия должна быть записана на отдельной строке.

#### Примечание 1. Гарантируется, что среди учеников школы BEEGEEK нет однофамильцев.

#### Примечание 2. Гарантируется, что хотя бы один ученик был на всех уроках.

In [23]:
n = int(input())
result = {input() for _ in range(int(input()))}

for _ in range(n - 1):
    result &= {input() for _ in range(int(input()))}
    
print(*sorted(result), sep='\n')

2
4
Черкасов
Фокин
Самойлов
Устинов
2
Черкасов
Устинов
Устинов
Черкасов

## СЛОВАРИ

In [3]:
users = [{'name': 'Todd', 'phone': '551-1414', 'email': 'todd@gmail.com'},
         {'name': 'Helga', 'phone': '555-1618', 'email': 'helga@mail.net'},
         {'name': 'Olivia', 'phone': '449-3141', 'email': ''},
         {'name': 'LJ', 'phone': '555-2718', 'email': 'lj@gmail.net'},
         {'name': 'Ruslan', 'phone': '422-145-9098', 'email': 'rus-lan.cha@yandex.ru'},
         {'name': 'John', 'phone': '233-421-32', 'email': ''},
         {'name': 'Lara', 'phone': '+7998-676-2532', 'email': 'g.lara89@gmail.com'},
         {'name': 'Alina', 'phone': '+7948-799-2434', 'email': 'ali.ch.b@gmail.com'},
         {'name': 'Robert', 'phone': '420-2011', 'email': ''},
         {'name': 'Riyad', 'phone': '128-8890-128', 'email': 'r.mahrez@mail.net'},
         {'name': 'Khabib', 'phone': '+7995-600-9080', 'email': 'kh.nurmag@gmail.com'},
         {'name': 'Olga', 'phone': '6449-314-1213', 'email': ''},
         {'name': 'Roman', 'phone': '+7459-145-8059', 'email': 'roma988@mail.ru'},
         {'name': 'Maria', 'phone': '12-129-3148', 'email': 'm.sharapova@gmail.com'},
         {'name': 'Fedor', 'phone': '+7445-341-0545', 'email': ''},
         {'name': 'Tim', 'phone': '242-449-3141', 'email': 'timm.ggg@yandex.ru'}]

print(*sorted([i['name'] for i in users if i['phone'][-1:]=='8']), sep='\n')

Helga
LJ
Maria
Riyad
Ruslan

In [37]:
users = [{'name': 'Todd', 'phone': '551-1414', 'email': 'todd@gmail.com'},
         {'name': 'Helga', 'phone': '555-1618'},
         {'name': 'Olivia', 'phone': '449-3141', 'email': ''},
         {'name': 'LJ', 'phone': '555-2718', 'email': 'lj@gmail.net'},
         {'name': 'Ruslan', 'phone': '422-145-9098', 'email': 'rus-lan.cha@yandex.ru'},
         {'name': 'John', 'phone': '233-421-32', 'email': ''},
         {'name': 'Lara', 'phone': '+7998-676-2532', 'email': 'g.lara89@gmail.com'},
         {'name': 'Alina', 'phone': '+7948-799-2434'},
         {'name': 'Robert', 'phone': '420-2011', 'email': ''},
         {'name': 'Riyad', 'phone': '128-8890-128', 'email': 'r.mahrez@mail.net'},
         {'name': 'Khabib', 'phone': '+7995-600-9080', 'email': 'kh.nurmag@gmail.com'},
         {'name': 'Olga', 'phone': '6449-314-1213', 'email': ''},
         {'name': 'Roman', 'phone': '+7459-145-8059'},
         {'name': 'Maria', 'phone': '12-129-3148', 'email': 'm.sharapova@gmail.com'},
         {'name': 'Fedor', 'phone': '+7445-341-0545', 'email': ''},
         {'name': 'Tim', 'phone': '242-449-3141', 'email': 'timm.ggg@yandex.ru'}]

print(*sorted(i['name'] for i in users if not 'email' in i or i['email'] == ''), sep='\n')

Alina
Fedor
Helga
John
Olga
Olivia
Robert
Roman

In [38]:
s = {'CS101': {'room': 3004, 'teacher': 'Хайнс', 'time': '8:00'},
    'CS102': {'room': 4501, 'teacher': 'Альварадо', 'time': '9:00'},
    'CS103': {'room': 6755,	'teacher': 'Рич', 'time': '10:00'},
    'NT110': {'room': 1244, 'teacher': 'Берк','time': '11:00'},
    'CM241': {'room': 1411, 'teacher': 'Ли', 'time': '13:00'}
   }

kurs = input()
print(f"{kurs}: {s[kurs]['room']}, {s[kurs]['teacher']}, {s[kurs]['time']}")

CM241
CM241: 1411, Ли, 13:00

### Набор сообщений

На мобильных кнопочных телефонах текстовые сообщения можно отправлять с помощью цифровой клавиатуры. Поскольку с каждой клавишей связано несколько букв, для большинства букв требуется несколько нажатий клавиш. При однократном нажатии цифры генерируется первый символ, указанный для этой клавиши. Нажатие цифры 2,3,42,3,4 или 55 раз генерирует второй, третий, четвертый или пятый символ клавиши.
<code>
1 	.,?!:
2 	ABC
3 	DEF
4 	GHI
5 	JKL
6 	MNO
7 	PQRS
8 	TUV
9 	WXYZ
0 	space (пробел)
</code>

Напишите программу, которая отображает нажатия клавиш, необходимые для введенного сообщения.

#### Формат входных данных
На вход программе подается одна строка – текстовое сообщение.

#### Формат выходных данных
Программа должна вывести нажатия клавиш, необходимых для введенного сообщения.

#### Примечание 1. Ваша программа должна обрабатывать как прописные, так и строчные буквы.

#### Примечание 2. Ваша программа должна игнорировать любые символы, не указанные в приведенной выше таблице.

Примечание 3. Nokia 3310, чтобы вспомнить как это было 😄

In [4]:
symbols = {1: '.,?!:', 2: 'ABC', 3:	'DEF',
           4: 'GHI', 5: 'JKL', 6: 'MNO',
           7: 'PQRS', 8: 'TUV', 9: 'WXYZ',
           0: ' '}

for s in list(input().upper()):
    for key, val in symbols.items():
        if s in val: 
            print(str(key) * (val.index(s) + 1), end='')

Hello, World !
44335555556661109666777555301111

In [6]:
dict1 = {'a': 100, 'z': 333, 'b': 200, 'c': 300, 'd': 45, 'e': 98, 't': 76, 'q': 34, 'f': 90, 'm': 230}
dict2 = {'a': 300, 'b': 200, 'd': 400, 't': 777, 'c': 12, 'p': 123, 'w': 111, 'z': 666}

result = dict1.update(dict2)
print(result)

None

### 6.13 А вы знали, что цифры на банковской карте выбираются не просто случайным образом?

#### Алгоритм Луна
Упрощенная версия алгоритма выглядит так:
<ol>
    <li>Цифры проверяемой последовательности нумеруются справа налево.</li>
    <li>Цифры, оказавшиеся на нечётных местах, остаются без изменений.</li>
    <li>Цифры, стоящие на чётных местах, умножаются на 2.</li>
    <li>Если в результате такого умножения возникает число больше 9, оно уменьшается на значение 9</li>
    <li>Все полученные в результате преобразования 16 цифр складываются. Если сумма кратна 10, то исходные данные верны.</li>
</ol>
    
#### Сумма определенных цифр на карте должны проходить условия алгоритма Луна

#### Вариант 1

In [4]:
sum_n = 0
for i, n in enumerate(list(map(int, input())),2):
    if not i % 2:
        n *= 2
        # sum_n += sum(map(int, str(n))) 
        if n > 9:
            n -= 9
    sum_n += n                
print(not sum_n % 10)

3942682966937054
True

#### Вариант 2 ( by Алекс Глозман)

1. Нумеровать можно обычным образом, слева направо, только четность меняется на противоположную, потому что в строке четное кол-во цифр (16).

1 <b>2</b> 3 <b>4</b> 5 <b>6</b> 7 <b>8</b> 9 <b>10</b> 11 <b>12</b> 13 <b>14</b> 15 <b>16</b>  (жирным помечены индексы, под которыми элементы подлежащие изменению)

Учитывая нумерацию с нуля, получается, что как раз не надо изменять цифры с нечетными индексами :). Но для лаконичности, будет формировать новый список цифр с помощью списочного выражения (точнее списочного генератора).

2. Условие 2 * d > 9 можно заменить на d > 4, а вместо 2 * d можно взять d и увязать добавление второго d а так же вычитание числа 9 с выполнением соотвествующих условий. 

3. Для лаконичности можно заменить тернарник на смешанное арифм-логическое выражение.

In [2]:
print(not sum(d + (i + 1) % 2 * (d - 9 * (d > 4)) for i, d in enumerate(map(int, input()))) % 10)

3942682966937054
True

#### Вариант 3 ( by Алекс Глозман)

1. Нумеровать можно обычным образом, слева направо, только четность меняется на противоположную, потому что в строке четное кол-во цифр (16).

1 <b>2</b> 3 <b>4</b> 5 <b>6</b> 7 <b>8</b> 9 <b>10</b> 11 <b>12</b> 13 <b>14</b> 15 <b>16</b>  (жирным помечены индексы, под которыми элементы подлежащие изменению)

Учитывая нумерацию с нуля, получается, что как раз не надо изменять цифры с нечетными индексами :). Но для лаконичности, будет формировать новый список цифр с помощью списочного выражения (точнее списочного генератора).

2. Условие связанное с вычитанием числа 9 в случае когда  2 * d > 9 можно заменить на сложение цифр числа 2 * d,  что достигается формулой sum(divmod(2 * d, 10)). Тут требуется пояснение. Числа представляющие собой удвоенную цифру не могут превышать 2 * 9 = 18. Интуитивно, при образовании подобного двузначного числа мы переносим число 10 в разряд десятков в виде цифры 1, а то что осталось от десятки оставляем в единицах. Т.е. например число 2 * 8 = 16, цифра 1 переходит в разряд десятков, а цифра 6 остается. 10 + 6 = 1 + 9 + 6. Поэтому если вычесть из 16-ти число 9 то получится тот же результат что и при сложении цифр числа 16: 1 + 6 = 16 - 9 = 7

In [6]:
print(not sum(d if i % 2 else sum(divmod(2 * d, 10)) for i, d in enumerate(map(int, input()))) % 10)

3942682966937054
True

In [4]:
!pip install --upgrade numpy

Requirement already satisfied: numpy in e:\miniconda3\env\my_env\lib\site-packages (1.23.5)
Collecting numpy
  Downloading numpy-1.24.1-cp310-cp310-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 1.7 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.5
    Uninstalling numpy-1.23.5:
      Successfully uninstalled numpy-1.23.5
Successfully installed numpy-1.24.1