# Контрольная работа № 1

In [2]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = 'warn'

### Датафрейм с которым вы будете сегодня работать

In [3]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])

In [4]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [4]:
#surname    - Фамилия клиента 
#name       - Имя клиента
#tarif      - Тариф клиента
#balance	- Баланс клиента
#age	    - Возраст клиента
#sms	    - Количество отправленных СМС
#voice	    - Количество секунд разговора (звонки)
#city	    - Город клиента
#phone      - Марка телефона клиента

## Ответы на вопросы загрузите на степик

### Вопрос 1: определите средний возраст клиента

In [5]:
df['age'].mean()

48.6

### Вопрос 2: на каком тарифе средний возраст клиента наименьший

In [81]:
df.groupby(['tarif'])['age'].mean()

tarif
ВИП                   50.500000
Все за 300            50.666667
Всё за 250 (архив)    30.000000
Всё за 500            45.571429
Всё за 800            45.750000
Корпоративный         70.250000
Промо                 44.750000
Name: age, dtype: float64

### Вопрос 3: с какого города больше всего клиентов?

In [92]:
df['city'].value_counts()

Moscow         11
Yakutsk         8
Kazan           7
Vladivostok     4
Name: city, dtype: int64

### Вопрос 4: на каком тарифе отправили больше всего СМС?

In [120]:
df.groupby(['tarif'])['sms'].sum().idxmax()

'Всё за 800'

### Вопрос 5: определите самую популярную марку смартфона у пользователей до 40 (включительно)

In [209]:
#df[df.age <= 40]['phone'].value_counts()
#df.loc[df['age'] < 40]['phone'].describe()[2:]

df[df['age'] <= 40].value_counts('phone').idxmax()

'Xiaomi'

### Вопрос 6: определите самую популярную марку смартфона у пользователей старше 40

In [208]:
df[df['age'] > 40].value_counts('phone').idxmax()

'Apple'

### Вопрос 7: В каком городе клиенты меньше всего отправляют СМС

In [259]:
# df.groupby('city').sms.sum()

for z in df['city'].unique():
    print(z,df.loc[df['city']==z,'sms'].sum())

Moscow 519
Kazan 501
Yakutsk 285
Vladivostok 230

### Вопрос 8: В каком городе клиенты больше всего говорят по телефону?

In [262]:
df.groupby(['city'])['voice'].sum()

#for z in df['city'].unique():
#    print(z,df.loc[df['city'] == z,'voice'].sum())

city
Kazan          27531
Moscow         49355
Vladivostok    22818
Yakutsk        48973
Name: voice, dtype: int64

### Вопрос 9: Сколько заработала фирма на СМС сообщениях? Стоимость одного сообщения 3 рубля.

In [272]:
df['sms'].sum() * 3
   
#for z in df['city'].unique():
#    print(z,df.loc[df['city']==z,'sms'].sum()*3)

4605

### Вопрос 10: Сколько заработала фирма на СМС сообщениях?

Тарифная сетка:
ВИП                   - 1 рубль за СМС
Все за 300            - 2 рубля за СМС
Всё за 500            - 3 рубля за СМС
Всё за 800            - 4 рубля за СМС
Промо                 - 7 рублей за СМС
Корпоративный         - 0 рублей за СМС
Всё за 250 (архив)    - 5 рублей за СМС

In [333]:
#df.groupby('tarif').sum().df['sms'] * [1, 2, 5, 3, 4, 0, 7]).sum()

# создаем серию из прайса
d1 = pd.Series([1,2,3,4,7,0,5], ['ВИП', 'Все за 300', 'Всё за 500', 'Всё за 800', 'Промо', 'Корпоративный', 'Всё за 250 (архив)'])

# перемножаем кол-во СМС и прайс и суммируем итог
print((df['sms'] * d1[df['tarif']].values).sum())

4879

### Вопрос 11: Определите процент клиентов, у которых баланс выше 4000

In [403]:
#int(((df['balance'] > 4000).sum() / df.count() * 100)[0])
#df['balance'].loc[df['balance'] > 4000].count() / df['balance'].count()

int(len(df[df.balance > 4000])/len(df) * 100)

30

### Вопрос 12: Определите процент клиентов, у которых баланс выше 2000 и тариф 'Всё за 500'

In [404]:
int(len(df[(df['balance'] > 2000) & (df['tarif'] == 'Всё за 500')])/len(df) * 100)

16

### Вопрос 13: Сколько клиентов из Москвы, у которых баланс выше 1500 и марка телефона 'Apple'?

In [420]:
#len(df[(df['balance'] > 1500) & (df['city'] == 'Moscow') & (df['phone'] == 'Apple')])
#df[(df['balance'] > 1500) & (df['city'] == 'Moscow') & (df['phone'] == 'Apple')].city.count()

#df[(df['balance'] > 1500) & (df['city'] == 'Moscow') & (df['phone'] == 'Apple')]

# сумма True
((df['balance'] > 1500) & (df['city'] == 'Moscow') & (df['phone'] == 'Apple')).sum()

2

### Вопрос 14: Самое распространённое имя среди наших клиентов?

In [5]:
#df['name'].value_counts().idxmax()
#df.value_counts('name').idxmax()

df['name'].describe()['top']

'Sergey'

### Вопрос 15: Определите процент клиентов у которых телефон Apple и они из Владивостока

In [435]:
int(len(df[(df['phone'] =='Apple') & (df['city'] == 'Vladivostok')])/len(df) * 100)

3

## Контрольная работа (продолжение)

### Вопрос 1: Объедините столбцы surname и name в столбец с именем client_name

In [37]:
df['client_name'] = df['surname'] + ' ' + df['name']

### Вопрос 2: Поступила задача разбить клиентов на группы:

    до 25 лет (включительно) - A (англ. буква)
    с 26 до 40 лет (включительно) - B (англ. буква)
    старше 40 лет - C (англ. буква)

Запишите название группы в столбец group

In [6]:

df.loc[df['age'] <= 25, 'group'] = "A"
df.loc[(df['age'] <= 40) & (df['age'] >= 26), 'group'] = "B"
df.loc[df['age'] > 40, 'group'] = "C"
df

,surname,name,tarif,balance,age,sms,voice,city,phone,group
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung,C
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,C
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung,C

### Вопрос 3: Пришла информация, что на сервере в Москве возник сбой и баланс за отправленные смс не списался (у пользователей из Москвы). Спишите с каждого пользователя из Москвы деньги за смс. Количество отправленных смс за которые не списали деньги в столбце sms. Стоимость 1 смс - 3 рубля. (обновите колонку balance):

In [36]:
# df.loc[df['city'] == 'Moscow', 'balance'] = df.loc['balance'] - df.loc['sms'] * 3

df.loc[df['city'] == 'Moscow','balance'] -= df['sms'] * 3

### Вопрос 4: Ваш коллега Юра отправил вам результаты обработки данных в файле .npz, но торопился и не успел написать под какими ключами сохранил массивы в файл. Скачайте файл, определите название ключа под которым сохранён первый массив в файле.

In [29]:
f = np.load('d:\Download\data.npz')

for k in f:
    print(k, f[k])

mykey1 [1 2 3]
mykey2 [4 5 6]

### Вопрос 5: На совещании было принято решение детальнее проработать вопрос списания денежных средств. Теперь, спишите деньги (у пользователей из Москвы за смс) с учетом тарифной сетки:

    ВИП - 1 рубль за СМС
    Все за 300 - 2 рубля за СМС
    Всё за 500 - 3 рубля за СМС
    Всё за 800 - 4 рубля за СМС
    Промо - 7 рублей за СМС
    Корпоративный - 0 рублей за СМС
    Всё за 250 (архив) - 5 рублей за СМС

In [34]:
# создаем серию из прайса
d1 = pd.Series([1,2,3,4,7,0,5], ['ВИП', 'Все за 300', 'Всё за 500', 'Всё за 800', 'Промо', 'Корпоративный', 'Всё за 250 (архив)'])
df.loc[df['city'] == 'Moscow','balance'] -= df['sms'] * d1[df['tarif']].values

### Вопрос 6: Пользователь Girev Sergey написал заявление о том, что переехал из города Vladivostok в Kazan. Внесите изменения в датафрейм:

In [11]:
df.loc[(df['surname'] == 'Girev') & (df['name'] == 'Sergey') ,'city'] = 'Kazan'

### Вопрос 7: Измените название колонки balance на client_balance:

In [79]:
# df.columns = ['surname', 'name', 'tarif', 'client_balance', 'age', 'sms', 'voice', 'city', 'phone']
# df.rename(columns={'balance': 'client_balance'})

columns = list(df.columns)
columns[3] = 'client_balance' 
df.columns = columns

### Вопрос 8: Пересчитайте баланс пользователей в доллары по курсу 1 доллар = 60 рублей. Результат запишите в колонку balance_usd (ответ округлите до двух знаков после запятой). Исходный баланс лежит в столбце balance:

In [129]:

df.loc[:,'balance_usd'] = (df['balance'] / 60).round(2)

### Вопрос 9: Высшее руководство компании в ячейке с балансом (в долларах) хотят видеть знак доллара $ Вам как самому ответственному и подготовленному специалисту доверили довести дело до конца! Добавьте, пожалуйста, знак доллара)

In [131]:
df['balance_usd'] = df['balance_usd'].astype(str) + ' $'

### Вопрос 10: Расcчитайте долю смс для каждого пользователя. Для этого определите сколько всего было отправлено СМС, а затем расcчитайте отношение отправленных смс клиента к общему количеству. Столбец назовите sms_volume. Оставьте TOP-3.

In [186]:
df['sms_volume'] = df['sms'] / df['sms'].sum()
df.sort_values('sms_volume', ascending = False, inplace = True)
df[:3]

,surname,name,tarif,balance,age,sms,voice,city,phone,balance_usd,sms_volume
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,33.02 $,0.063844
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,78.75 $,0.060586
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,69.98 $,0.058632

### Вопрос 11: Cредний возраст клиентов из Казани выше чем во Владивостоке? Функция должна вернуть True - если да и False - если нет.

In [209]:
k = df.loc[df['city'] == 'Kazan','age'].mean()
v = df.loc[df['city'] == 'Vladivostok','age'].mean()
k > v

True

### Вопрос 12: Создайте индекс для строк на основе столбцов surname и name. После создания индекса удалите столбцы surname и name

In [255]:

df.index = (df['surname'] + '_' + df['name']).str.upper()
df.drop(columns=['surname','name'], inplace=True)

### Вопрос 13: Являются ли лейблы строк уникальными (не повторяющимися)? Верните True - если уникальные и False - если есть дубли.

In [263]:
df.index.is_unique

False

## Доработайте код таким образом, чтобы оставить только 2 наиболее встречающихся значения, а для остальных установите значение 'Yet another value'.

Ответ должен возвращать серию

In [291]:
s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
"""
выбираем символы, которые встречаются менее чем самые частые (a,b)
s.value_counts() выдает серию с частотой появления
a    8
b    7
c    6
e    5
d    4
h    3
f    2
g    1
dtype: int64
затем отсекаем первые 2 с макс. частотой появления
функцией isin() получаем булеву маску для серии s
по этой маске меняем значения в строках на "Yet another value"
"""
s[s.isin(s.value_counts().index[2:])] = "Yet another value"

## Работа с csv-файлами

#### Загрузка из локального хранилища

In [279]:
pd.read_csv('pandas_tutorial_read.csv', delimiter=';', names=['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

#### Загрузка из сети

In [281]:
# pd.read_csv('https://pythonru.com/downloads/pandas_tutorial_read.csv', delimiter=';', names=['my_datetime', 'event', 'country','user_id', 'source', 'topic'])